.customer-review-section {
    background-color: #f0dff6 !important;

    h3 p, h3 {
        font-size: 24px;
        line-height: 32px;
    }

    .flex-control-nav li {
        overflow: hidden;
        display: inline-block;
        margin: 5px;
        width: 15px;
    }

    .flex-control-nav {
        width: 100%;
        position: absolute;
        bottom: -40px;
        text-align: center;
    }

    .flex-control-nav li a {
        width: 10px;
        height: 10px;
        border-radius: 50px;
        cursor: pointer;
        text-indent: -9999px;
        display: block;
    }
}


.menu-items {
    background-color: #fff;
    .food-menu {
        .bg-color-blog-posts {
            border: 1px solid #ccc;

            .food-menu-content {
                h4, h5, h6 {
                    font-size: 12px;
                    line-height: 24px;
                    font-weight: 700;
                    margin-bottom: 18px;
                    margin-top: 0;
                    padding: 0;
                    color: #292929;
                }
                p {
                    margin-bottom: 48px;
                    font-size: 13px !important;
                    color: #777777 !important;
                    font-weight: 400 !important;
                }
            }
            h1, h2, h3 {
                color: #292929;
            }
        }
        
    }
}

.blog-posts .food-menu:nth-child(3n-1) .bg-color-blog-posts {
    background: #333347 !important;

    .food-menu-content {
        h4, h5, h6 {
            color: #d2d2d2;
        }
        p {
            color: #d2d2d2 !important;
        }
    }
    h1, h2, h3 {
        color: #d2d2d2;
    }

}

.food-menu-header {
    background-color: #F0DFF6;

    h1 {
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 3px;
        color: #292929;
    }
}
.loadmoremenus-wrapper { 
    .btn {
        background-color: #333347;
        padding-top: 5px;
        color: white;
        border: 2px solid #333347;
    } 
    .btn:hover {
        background: #333347;
        color: #fff;
    }
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    display: block;
    margin: 2px 0;
    padding: 4px;
    width: 280px;
}
.bootstrap-datetimepicker-widget table  .btn {
    border: 0;
    padding: 0;
    height: 0px;
    min-width: 0;
    line-height: 0px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 0;
    color: #545454;
    text-align: center;
    transition: all 0.3s ease;
    margin-right: 0;
    margin-bottom: 50px;
}
.bootstrap-datetimepicker-widget button[data-action] {
    padding: 6px;
    margin-bottom: 0px;
    font-size: 24px;
}

.bootstrap-datetimepicker-widget .btn-primary {
    color: #545454;
    background-color: #fff;
    border-color: #fff;
}

.rsv-form-container form button#form-submit {
    width: 100% !important; }
  
  .form-success {
      background: #d7d7d7;
      padding: 12px;
      width: 80%;
      color: #0b4f03;
      clear: both;
      display: block;
      max-width: 350px;
      position: relative;
      top: 16px;
      margin: 0 auto;
      word-break: break-word;
      text-align: center;
  }
  .form-error {
    background: #d7d7d7;
    padding: 12px;
    width: 80%;
    color: red;
    clear: both;
    display: block;
    max-width: 350px;
    position: relative;
    top: 16px;
    margin: 0 auto;
    word-break: break-word;
    text-align: center;
  }
  
  #reservation-input {
    background: #f5f5f5;
    border: none;
    width: 100%;
    height: 50px;
    padding-left: 10px;
    font-weight: 700;
    border-radius: 0;
    margin-bottom: 0;
  }
  #reservation-input:focus {
    outline: 1px solid #ccc;
  }
  
  form textarea.form-control{
    background: #f5f5f5;
    border: none;
    width: 100%;
    padding-left: 10px;
    font-weight: 300;
    border-radius: 0;
  }
  form textarea.form-control:focus {
    border: 1px solid #ccc;
    outline: 0;
    box-shadow: none;
  }
  
  .input-group-addon:first-child {
    border-radius: 0;
    border: none;
  }
  form #reservation-input.reserver-name, form #reservation-input.reserver-phone, form #reservation-input.reserver-email, form #reservation-input.reserver-table-size {
    margin-bottom: 20px;
  }
  input[type="submit"], button[type="submit"] {
    height: 40px;
    line-height: 40px;
    width: 100% !important;
  }

