.customer-review-section {
    background-color: #f0dff6 !important;

    h3 p, h3 {
        font-size: 24px;
        line-height: 32px;
    }

    .flex-control-nav li {
        overflow: hidden;
        display: inline-block;
        margin: 5px;
        width: 15px;
    }

    .flex-control-nav {
        width: 100%;
        position: absolute;
        bottom: -40px;
        text-align: center;
    }

    .flex-control-nav li a {
        width: 10px;
        height: 10px;
        border-radius: 50px;
        cursor: pointer;
        text-indent: -9999px;
        display: block;
    }
}


.menu-items {
    background-color: #fff;
    .food-menu {
        .bg-color-blog-posts {
            border: 1px solid #ccc;

            .food-menu-content {
                h4, h5, h6 {
                    font-size: 12px;
                    line-height: 24px;
                    font-weight: 700;
                    margin-bottom: 18px;
                    margin-top: 0;
                    padding: 0;
                    color: #292929;
                }
                p {
                    margin-bottom: 48px;
                    font-size: 13px !important;
                    color: #777777 !important;
                    font-weight: 400 !important;
                }
            }
            h1, h2, h3 {
                color: #292929;
            }
        }
        
    }
}

.blog-posts .food-menu:nth-child(3n-1) .bg-color-blog-posts {
    background: #333347 !important;

    .food-menu-content {
        h4, h5, h6 {
            color: #d2d2d2;
        }
        p {
            color: #d2d2d2 !important;
        }
    }
    h1, h2, h3 {
        color: #d2d2d2;
    }

}

.food-menu-header {
    background-color: #F0DFF6;

    h1 {
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 3px;
        color: #292929;
    }
}
.loadmoremenus-wrapper { 
    .btn {
        background-color: red;
        padding-top: 5px;
        color: white;
        border: 2px solid #333347;
    } 
    .btn:hover {
        background: #333347;
        color: #fff;
    }
}




